<article class="post post-1">
    <header class="entry-header">
    <h1 class="entry-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    <div class="entry-meta">
        <span class="post-category"><a href="{{ site.baseurl}}/category/{{ post.categories }}">{{ post.categories }}</a></span>
        <span class="post-category"><a href="#">{{ post.tag }}</a></span>

        <span class="post-date"><a href="{{ site.baseurl}}/time/{{ post.date | date: '%Y' }}"><time class="entry-date" datetime="{{ post.date }}">{{ post.date | date: "%B %d,%Y" }}</time></a></span>
        <span class="comments-link"><a href="https://github.com/hellolux">HelloLux</a></span>
    </div>
    </header>
</article>