<div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-8">
                    {% for category in site.categories %}
                        {% if category.first == page.categories %}
                            {% for post in category.last %}
                                {% include article.html %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </main>
                {% include aside.html %}            
            </div>
        </div>
    </div>